@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins";
}

* {
  font-family: "Poppins";
  font-weight: 900;
}

section {
  width: 100%;
  height: 100vh;
}

.sec01 {
  background: url("https://images.unsplash.com/photo-1560164619-2f3772726f9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60")
    center top no-repeat;
  background-size: cover;
  color: yellow;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.sec01-container {
  font-size: 12vw;
  width: 90%;
  text-align: center;
  letter-spacing: 1.0025em;
}

.sec01 > p {
  width: 100%;
  font-weight: 900;
  font-size: 9em;
  letter-spacing: 1.2em;
  line-height: 2em;
}

#hello-world {
  font-size: 12em;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}

#hello-world-cover {
  content: "";
  position: absolute;
  width: 12em;
  height: 2px;
  background: #ff5959;
  top: 1.2em;
}

.sec02 > p {
  font-size: 2em;
  width: 70vw;
  margin-top: 2em;
  margin-left: 4em;
}

.sec03 {
  border-top: solid 2px #222;
  border-width: 1vw;
  position: relative;
}

.sec03 > h1 {
  font-size: 40em;
  white-space: nowrap;
  margin-top: -70vh;
  color: #222;
}

.sec03 > h1:hover {
  -webkit-text-stroke: 2px #ff5959;
  color: transparent;
  cursor: pointer;
}

.sec03 > img {
  background: url("./henri.png") center top no-repeat;
  background-size: cover;
  min-height: 40vh;
}

.sec03 > h2 {
  position: absolute;
  margin: 0 auto;
  top: 35vh;
  left: 45vw;
}

#henri {
  margin-top: -20vh;
  transform: scale(2);
}

.fade-out {
  opacity: 0;
}

.toggled {
  letter-spacing: -0.1em;
}

.blah-blah {
  transition: 0.3s;
  position: relative;
}

.blah-blah-cover {
  position: absolute;
  width: 12vw;
  height: 2vw;
  background: #222;
  transform-origin: left;
}

.visible {
  opacity: 1;
}

.reveal {
  position: relative;
  animation-name: text;
  animation-duration: 0.7s;
}

.reveal::after {
  content: "";
  position: absolute;
  background: #222;
  top: 0;
  left: 0;
  width: 12vw;
  height: 3vw;
  animation-name: revealer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: 0 50%;
}

.sec04-title {
  font-size: 50vh;
  line-height: 0.7;
}

.f-left {
  float: left;
  position: relative;
  padding: 0;
}

.f-left::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 100%;
  background: #222;
  width: 100%;
  height: 1px;
}

.f-right {
  float: right;
  position: relative;
  margin-top: 2vh;
}

.this-is {
  position: absolute;
  font-weight: 200;
  font-size: 16px;
  white-space: nowrap;
  color: #222;
  top: 40%;
}

.fourth-section {
  position: relative;
  font-weight: 100;
  font-size: 16px;
  color: #222;
  z-index: 999;
}

.f-right::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -100%;
  background: #222;
  width: 100%;
  height: 1px;
}

.sec05 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@keyframes text {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer {
  0% {
    transform-origin: 0 50%;
    transform: scaleX(1);
  }
  100% {
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }
}

@media only screen and (max-width: 40em) {
  section {
    height: 50vh;
  }

  .sec01 {
    height: 100vh;
  }

  .sec01 > p {
    font-size: 1em;
    padding-top: 30vh;
  }

  #hello-world {
    font-size: 4em;
  }

  .sec02 > p {
    font-size: 0.5em;
  }

  .sec03 > h2 {
    left: 35vw;
  }

  .sec03 > h1 {
    -webkit-text-stroke: 2px #ff5959;
    color: transparent;
  }

  .img {
    margin-top: -70vh;
  }

  #hello-world-cover {
    content: "";
    position: absolute;
    width: 12em;
    height: 1px;
    background: #ff5959;
    top: 1em;
  }

  .sec04-title {
    font-size: 4em;
    margin-top: 12em;
  }

  .f-right {
    padding-top: 8em;
  }
}
